[submodule "Linkhub"]
	path = Linkhub
	url = https://github.com/linkhub-sdk/linkhub.auth.vb6.git
[submodule "PopbillMessaging"]
	path = PopbillMessaging
	url = https://github.com/linkhub-sdk/popbill.messaging.vb6.git
